.about {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    

    
    .about__container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 70%;
        align-items: center;

        @media screen and (min-width: 800px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
        }

        .aboutContent {
            max-width: 400px;
            .about_circleEffect {
                position: relative;
                .circle {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: $main_color;
                    position:absolute;
                    left:-7px;
                    top:-7px;
                    opacity: 0.8;
                }
            }
            
           h2 {
               margin-bottom: 5px;
               z-index: 100;
                
               
           }
           p {
               line-height: 1.5;
           }
        }
        
        img {
            width: 100%;
        }
    }
}
.about_header {
    h1 {
        letter-spacing: 2px;
    }
    .about_underline {
        display: flex;
        justify-content: space-between;
        width: 110px;
        margin:auto;
        margin-top: 5px;
        span {
            width: 45px;
            height: 3px;
        
            background-color: $main_color;
        }
    }
}