$main_color:#FDA500;
$second_color:#BEDBF1;
$third_color:#575D89;
$fourth_color:#F5F7FD;
$main_font:  'Source Sans Pro', sans-serif;
$second_font:'Fjalla One', sans-serif;
$third_font:'Roboto', sans-serif;
$box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$body_font: 'Cabin', sans-serif;


